
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="flex justify-center mt-10">
    <div class="overflow-x-auto w-1/2">
        <table class="table mx-auto">
            <!-- head -->
            <thead>
            <tr>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hover" th:each="question,loop: ${questionList}">
                <th>[[${loop.count}]]</th>
                <td><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a></td>
                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
